$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #dfb7ff;
$secondary_paletteKeyColor: #d0c1d9;
$tertiary_paletteKeyColor: #f3b7bd;
$neutral_paletteKeyColor: #1d1b1e;
$neutral_variant_paletteKeyColor: #4b454e;
$background: #141214;
$onBackground: #e7e1e5;
$surface: #1d1b1e;
$surfaceDim: #1d1b1e;
$surfaceBright: #222024;
$surfaceContainerLowest: #28252A;
$surfaceContainerLow: #222024;
$surfaceContainer: #1d1b1e;
$surfaceContainerHigh: #171518;
$surfaceContainerHighest: #111012;
$onSurface: #e7e1e5;
$surfaceVariant: #4b454e;
$onSurfaceVariant: #cdc4cf;
$inverseSurface: #e7e1e5;
$inverseOnSurface: #322f33;
$outline: #968e99;
$outlineVariant: #4b454e;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #dfb7ff;
$primary: #dfb7ff;
$onPrimary: #441a6b;
$primaryContainer: #5c3383;
$onPrimaryContainer: #f1daff;
$inversePrimary: #744b9c;
$secondary: #d0c1d9;
$onSecondary: #362c3f;
$secondaryContainer: #4d4356;
$onSecondaryContainer: #edddf6;
$tertiary: #f3b7bd;
$onTertiary: #4c252b;
$tertiaryContainer: #653a40;
$onTertiaryContainer: #ffdade;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$primaryFixed: #f1daff;
$primaryFixedDim: #5c3383;
$onPrimaryFixed: #441a6b;
$onPrimaryFixedVariant: #dfb7ff;
$secondaryFixed: #edddf6;
$secondaryFixedDim: #4d4356;
$onSecondaryFixed: #362c3f;
$onSecondaryFixedVariant: #d0c1d9;
$tertiaryFixed: #ffdade;
$tertiaryFixedDim: #653a40;
$onTertiaryFixed: #4c252b;
$onTertiaryFixedVariant: #f3b7bd;
$success: #dfb7ff;
$onSuccess: #441a6b;
$successContainer: #5c3383;
$onSuccessContainer: #f1daff;
$term0: #0E1C21;
$term1: #8383FF;
$term2: #63DEDB;
$term3: #75FCDD;
$term4: #78B4C1;
$term5: #7AAEEA;
$term6: #81D7DE;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F4FFFE;
$term11: #FFFFFF;
$term12: #BEE3E8;
$term13: #C8DAFF;
$term14: #EAFEFF;
$term15: #B0ECFC;
