#alert {
  .container {
    background: $base;
    border: 2px solid;
  }

  label {
    color: $color01;
  }

  button {
    border-radius: 8px;

    &.yes {
      border: 2px solid $color03;
      background: transparentize($color03, 0.9);


      label {
        color: $color03;
      }

      &:hover {
        background: $color03;

        label {
          color: $base;
        }
      }

    }

    &.no {
      border: 2px solid $color04;
      background: transparentize($color04, 0.9);

      label {
        color: $color04;
      }


      &:hover {
        background: $color04;

        label {
          color: $base;
        }
      }
    }
  }




}
