#osd {
  background-color: transparent;

  .osd-bar-container {
    min-height: 16rem;
  }

  .osd-bar {
    min-width: 40px;
    background-color: $base;
    border-radius: 10px;
    padding: 14px 2px 0px 2px;
    margin-right: 20px;
    border: 2px solid $color01;
  }

  .osd-icon {
    color: $color01;
    font-size: 20px;
  }

  trough {
    border-radius: 6px;
    margin-top: 14px;
    margin-bottom: 10px;

    progress,
    highlight {
      min-width: 30px;
      border-radius: 6px;
    }
  }
}
