/* @import "/home/ray/.config/stylix/ags-colors.scss"; */
@import "./colors.scss";

$font-size: 14px;

* {
  font-family: "SpaceMono Nerd Font";
  font-size: $font-size;
}


@import "./global.scss";
@import "./extra.scss";
@import "./bar.scss";
@import "./notifications.scss";
@import "./osd.scss";
@import "./mpris.scss";
@import "./quicksettings.scss";
@import "./flatpak.scss";
@import "./wallpapers.scss";
@import "./dialog.scss"
