#wallpapers {
  border-top: 2px solid $color00;

  .title {
    color: $color01;
    font-size: 15px;
  }

  #fallback {
    font-size: 100px;
  }

  #header {
    separator {
      background-color: $color03;
    }
  }

  button {
    min-height: 2rem;
    padding: 0 20px;
    background-color: $color03;
    color: $base;



    &:hover {
      background-color: $color05 ;
    }


  }

}
