$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #02DCFF;
$secondary_paletteKeyColor: #597B8F;
$tertiary_paletteKeyColor: #557AA1;
$neutral_paletteKeyColor: #6D797D;
$neutral_variant_paletteKeyColor: #6A7A7F;
$background: #120F11;
$onBackground: #eae0e3;
$surface: #1f1a1d;
$surfaceDim: #091518;
$surfaceBright: #2F3B3F;
$surfaceContainerLowest: #051013;
$surfaceContainerLow: #121D21;
$surfaceContainer: #162125;
$surfaceContainerHigh: #202C2F;
$surfaceContainerHighest: #2B373A;
$onSurface: #eae0e3;
$surfaceVariant: #4f444a;
$onSurfaceVariant: #d2c2c9;
$inverseSurface: #eae0e3;
$inverseOnSurface: #352f32;
$outline: #9c8d94;
$outlineVariant: #3A494E;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00D9FC;
$primary: #fface4;
$onPrimary: #591149;
$primaryContainer: #742b61;
$onPrimaryContainer: #ffd7ef;
$inversePrimary: #90427a;
$secondary: #ddbecf;
$onSecondary: #3f2a37;
$secondaryContainer: #57404e;
$onSecondaryContainer: #fadaeb;
$tertiary: #f4b9a0;
$onTertiary: #4b2716;
$tertiaryContainer: #653c29;
$onTertiaryContainer: #ffdbcb;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$primaryFixed: #AAEDFF;
$primaryFixedDim: #00D9FC;
$onPrimaryFixed: #001F26;
$onPrimaryFixedVariant: #004E5C;
$secondaryFixed: #C4E7FF;
$secondaryFixedDim: #A8CBE2;
$onSecondaryFixed: #001E2C;
$onSecondaryFixedVariant: #284B5D;
$tertiaryFixed: #D0E4FF;
$tertiaryFixedDim: #A4CAF5;
$onTertiaryFixed: #001D34;
$onTertiaryFixedVariant: #21496E;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0E1C21;
$term1: #8383FF;
$term2: #63DEDB;
$term3: #75FCDD;
$term4: #78B4C1;
$term5: #7AAEEA;
$term6: #81D7DE;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F4FFFE;
$term11: #FFFFFF;
$term12: #BEE3E8;
$term13: #C8DAFF;
$term14: #EAFEFF;
$term15: #B0ECFC;
