[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/asherah/.nix-profile/bin/thunderbird %u
Name=Thunderbird
Comment=Custom definition for Thunderbird
