#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Commits
Exec=google-chrome-stable --profile-directory=Default --app=https://www.conventionalcommits.org/en/v1.0.0/
Icon=/home/asherah/.local/share/applications/icons/commits.svg

