#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Cisco
Exec=google-chrome-stable --profile-directory=Default --app=https://www.netacad.com/catalogs/learn
Icon=/home/asherah/.local/share/applications/icons/cisco.png

